/vendor
/node_modules
/npm-debug.log
/yarn-error.log

.env
.env.backup
.env.production
.env.*.local

.DS_Store
Thumbs.db

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/laravel-exceptions
/storage/logs/*
/storage/debugbar
/storage/*.key
/storage/pail

/public/build
/public/hot
/public/storage

/auth.json
_ide_helper.php
Homestead.json
Homestead.yaml

.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

docker-compose.override.yml
